@page "/ordersTest"
@using HqSoftSale.Orders;
@using HqSoftSale.Products;
@using Volo.Abp.Application.Dtos;

@inject IOrderAppService ProductAppService
@inherits AbpCrudPageBase<IOrderAppService, OrderDto, Guid, PagedAndSortedResultRequestDto, CreateUpdateOrderDto>



<h1>Order List</h1>
<HqSoftSale.Blazor.Components.DetailComponent TItem="OrderDto"
                                              TColumns="List<(string FieldName, string Caption)>"
                                              Columns="@columns"
                                              Data="@orderList" />



@code {
    IReadOnlyList<OrderDto> orderList { get; set; }
    private int PageSize { get; set; } = 1000;
    private int CurrentPage { get; set; }
    private string CurrentSorting { get; set; }
    IGrid Grid { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        await GetListAsync();
    }

    List<(string FieldName, string Caption)> columns = new List<(string FieldName, string Caption)>
    {
        ("OrderNumber", "Order Number"),
        ("OrderStatus", "Order Status"),
        ("Customer", "Customer"),
        ("OrderDate", "Order Date")
    };


    async Task GetListAsync()
    {
        var result = await ProductAppService.GetListAsync(
            new GetOrderListDto
                {
                    MaxResultCount = PageSize,
                    SkipCount = CurrentPage * PageSize,
                    Sorting = CurrentSorting
                }
        );
        orderList = result.Items;
        TotalCount = (int)result.TotalCount;
    }
}